{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="greybox">
    <h2 class="title">{% trans "Login form" %}</h2>
    {% if form.has_errors %}
    <p class="error">{% trans "Your username and password didn't match. Please try again." %}</p>
    {% endif %}

    <form method="post" action=".">
        <table>
            <tr>
                <td><label for="id_username">{% trans "Username" %}:</label></td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td><label for="id_password">{% trans "Password" %}:</label></td>
                <td>{{ form.password }}</td></tr>
            <tr>
                <td colspan="2" align="right">
                    <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{% url aurprofile_profile %}{% endif %}" />
                    <input type="submit" value="Login" />
                </td>
            </tr>
        </table>
    </form>
</div>

{% endblock %}

