{% extends "base.html" %}
{% block content %}
<div class="greybox">
    <table class="results" width="100%">
        <tr>
            <th>Location</th>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Maintainer</th>
            <th>Last Updated</th>
        </tr>
        {% for package in latest %}
        <tr class="{% cycle 'pkgr1' 'pkgr2' %}">
            <td>{{ package.repository }}</td>
            <td><a href="/package/{{package.name}}/">{{ package.name }} {{ package.version }}-{{ package.release }}</a></td>
            <td>{{ package.description }}</td>
            <td>{{ package.category.name }}</td>
            <td>{{ package.maintainers.all|join:", " }}</td>
            <td>{{ package.updated }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
