{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="box">
    <h2 class="title">{{ pkg.name }} {{ pkg.version }}-{{ pkg.release }}</h2>
    <div style="float:right" class="listing">
        <ul class="small">
            <li><a href="#">{% trans "View $SCM Entries" %}</a></li>
            <li><a href="/package/{{ pkg.name }}/files/">View File List</a></li>
        </ul>
    </div>
    <table class="listing">
        <tr>
            <th>{% trans "Repository" %}:</th>
            <td>{{ pkg.repository.name }}</td>
        </tr><tr>
        <th>{% trans "Category" %}:</th>
            <td>{{ pkg.category.name }}</td>
        </tr><tr>
            <th>{% trans "Description" %}:</th>
            <td>{{ pkg.description }}</td>
        </tr><tr>
            <th>{% trans "Architecture" %}:</th>
            <td>{{ pkg.get_arch }}</th>
        </tr><tr>
            <th>{% trans "URL" %}:</th>
            <td><a href="{{ pkg.get_absolute_url }}">{{ pkg.get_absolute_url }}</a></td>
        </tr><tr>
            <th>{% trans "Maintainer" %}:</th>
            <td>{% for maintainer in pkg.maintainers.all %}{{ maintainer.username }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
        </tr><tr>
            <th>{% trans "Last Updated" %}:</th>
            <td>{{ pkg.updated|date:"Y-m-d H:i:s" }}</td>
        </tr>
    </table>
    <br />
    <table width="100%">
        <tr>
            <td valign="top">
                <div class="listing">
                    <h4>{% trans "Dependencies" %}:</h4>
                    <ul style="font-size:small;list-style:none">{% for dep in pkg.dep_packages.all %}
                        <li><a href="{% url django.views.generic.list_detail.object_detail object_id=dep.name %}">{{ dep.name }}</a></li>{% endfor %}
                    </ul>
                </div>
            </td><td colspan="2" valign="top">
                <div class="listing">
                    <h4>{% trans "Sources" %}:</h4>
                    <ul style="font-size:small;list-style:none">
                        <li>TODO</li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
</div>
{% endblock %}

