{% block content %}
<div class="greybox">
    <table class="results" width="100%">
        <tr>
            <th>Name</th>
            <th>Version</th>
            <th>Category</th>
            <th>Description</th>
            <th>Last Updated</th>
        </tr>
        {% for package in latest %}
        <tr>
            <td>{{ package.name }}</td>
            <td>{{ package.version }}</td>
            <td>{{ package.category.name }}</td>
            <td>{{ package.description }}</td>
            <td>{{ package.updated }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
