{% extends "base.html" %}
{% load i18n %}
{% block search %}{% endblock %}
{% block content %}
<div class="greybox">
    <h4 style="text-align: right">{% trans "Search Criteria" %}</h4>
    <hr />
    <form method="get" action="/search/">
        <table width="100%">
            <tr>
                {% for field in form %}
                <th style="text-align: left"><span class="smalltext">{{ field.label_tag }}</span></th>
                {% endfor %}
                <th>&nbsp;</th>
            </tr>
            <tr>
                {% for field in form %}
                <td>{{ field }}{% if field.help_text %}<br />{{ field.help_text }}{% endif %}</td>
                {% endfor %}
                <td><input type="submit" value="Search" /></td>
            </tr>
            {% if is_bound and not form.is_valid %}
            <tr>
                {% for field in form %}
                <td class="error smalltext">{% if field.errors %}
                    {{ field.errors }}{% else %}&nbsp;
                {% endif %}</td>
                {% endfor %}
                <td>&nbsp;</td>
            </tr>
            {% endif %}
        </table>
    </form>
</div>
<br />

{% with user.get_profile.is_moderator as is_moderator %}
<div class="greybox">
    {% if is_moderator %}
    <form action="{% url aur-manage_packages %}" method="post">
    {% endif %}
    <table class="results" width="100%">
        <tr>
            <th>{% trans "Repository" %}</th>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Description" %}</th>
            <th>{% trans "Category" %}</th>
            <th>{% trans "Maintainer" %}</th>
            <th style="width: 9em">{% trans "Last Updated" %}</th>
            {% if is_moderator %}
            <th>&nbsp;</th>
            {% endif %}
        </tr>
        {% ifnotequal packages.count 0 %}
        {% for package in packages %}
        <tr class="{% cycle 'pkgr1' 'pkgr2' %}">
            <td>{{ package.repository }}</td>
            <td><a{% if package.outdated %} class="error"{% endif %} href="{{ package.get_absolute_url }}">{{ package.name }} {{ package.version }}-{{ package.release }}</a></td>
            <td>{{ package.description }}</td>
            <td>{{ package.category.name }}</td>
            <td>{{ package.maintainers.all|join:", " }}</td>
            <td>{{ package.updated|date:"Y-m-d H:i:s" }}</td>
            {% if is_moderator %}
            <td><input type="checkbox" name="packages" value="{{ package.name }}" /></td>
            {% endif %}
        </tr>
        {% endfor %}
        {% else %}
        {% if form.is_bound %}
        <tr>
            <td colspan="6" style="text-align: center"><p>{% trans "There were no results for your query" %}</p></td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6" style="text-align: center"><p>{% trans "There are currently no packages available" %}</p></td>
        </tr>
        {% endif %}
        {% endifnotequal %}
    </table>
    {% if is_moderator %}
    <br />
    <div style="text-align: right">
        With selected packages:
        <select name="action">
            <option value="disown">disown</option>
            <option value="adopt">adopt</option>
            <option value="flag-ood">flag out of date</option>
            <option value="unflag-ood">unflag out of date</option>
            <option value="delete">delete</option>
        </select>
        <input type="submit" value="{% trans "Go" %}" />
    </div>
    {% endif %}
    </form>{% if pager.has_pagination %}
    <br />
    {% if pager.has_previous_page %}<span style="float: left"><a href="{{ pager.previous_link }}">&lt;&lt;&lt; {% trans "Previous" %}</a></span>{% endif %}
    {% if pager.has_next_page %}<span style="float: right"><a href="{{ pager.next_link }}">{% trans "Next" %} &gt;&gt;&gt;</a></span>{% endif %}
    <div style="text-align: center; width:75%; margin: auto;">
    {% for set in pager.windowed_page_links %}
        {% if not forloop.first %}...{% endif %}
        {% for page in set %}
            {% if page.2 %}{{ page.0 }}{% else %}<a href="{{ page.1 }}">{{ page.0 }}</a>{% endif %}
        {% endfor %}
    {% endfor %}
    </div>{%endif %}
</div>
{% endwith %}
{% endblock %}
