{% extends "base.html" %}
{% load i18n %}
{% load aur_tags %}
{% block search %}{% endblock %}
{% block content %}
<div class="greybox">
    <h4 style="text-align: right">{% trans "Search Criteria" %}</h4>
    <hr />
    <form method="get" action="/search/">
        <table width="100%">
            <tr>
                {% for field in form %}
                <th style="text-align: left"><span class="smalltext">{{ field.label_tag }}</span></th>
                {% endfor %}
                <th>&nbsp;</th>
            </tr>
            <tr>
                {% for field in form %}
                <td>{{ field }}{% if field.help_text %}<br />{{ field.help_text }}{% endif %}</td>
                {% endfor %}
                <td><input type="submit" value="Search" /></td>
            </tr>
            {% if is_bound and not form.is_valid %}
            <tr>
                {% for field in form %}
                <td class="error smalltext">{% if field.errors %}
                    {{ field.errors }}{% else %}&nbsp;
                {% endif %}</td>
                {% endfor %}
                <td>&nbsp;</td>
            </tr>
            {% endif %}
        </table>
    </form>
</div>
<br />

<div class="greybox">
    {% if is_moderator %}
    <form action="{% url aur-manage_packages %}" method="post">
    {% endif %}
    <table class="results" width="100%">
        <tr>
            {% if not request.META.QUERY_STRING %}
                <th><a href="{% url aur-search %}?sortby=repository&order=desc">{% trans "Repository" %}</a></th>
                <th><a href="{% url aur-search %}?sortby=name&order=desc">{% trans "Name" %}</a></th>
                <th><a href="{% url aur-search %}?sortby=description&order=desc">{% trans "Description" %}</a></th>
                <th>{% trans "Maintainer" %}</a></th>
                <th style="width: 9em"><a href="{% url aur-search %}?sortby=lastupdated&order=desc">{% trans "Last Updated" %}</a></th>
                {% if is_moderator %}
                <th>&nbsp;</th>
                {% endif %}
            {% else %}
                {% ifequal request.GET.order "asc" %}
                    <th><a href="{% url aur-search %}?{{ request.META.QUERY_STRING|merge_query_string:"sortby=repository&order=desc"}}">{% trans "Repository" %}</a></th>
                    <th><a href="{% url aur-search %}?{{ request.META.QUERY_STRING|merge_query_string:"sortby=name&order=desc"}}">{% trans "Name" %}</a></th>
                    <th><a href="{% url aur-search %}?{{ request.META.QUERY_STRING|merge_query_string:"sortby=description&order=desc"}}">{% trans "Description" %}</a></th>
                    <th>{% trans "Maintainer" %}</th>
                    <th style="width: 9em"><a href="{% url aur-search %}?{{ request.META.QUERY_STRING|merge_query_string:"sortby=updated&order=desc"}}">{% trans "Last Updated" %}</a></th>
                {% else %}
                    <th><a href="{% url aur-search %}?{{ request.META.QUERY_STRING|merge_query_string:"sortby=repository&order=asc"}}">{% trans "Repository" %}</a></th>
                    <th><a href="{% url aur-search %}?{{ request.META.QUERY_STRING|merge_query_string:"sortby=name&order=asc"}}">{% trans "Name" %}</a></th>
                    <th><a href="{% url aur-search %}?{{ request.META.QUERY_STRING|merge_query_string:"sortby=description&order=asc"}}">{% trans "Description" %}</a></th>
                    <th>{% trans "Maintainer" %}</th>
                    <th style="width: 9em"><a href="{% url aur-search %}?{{ request.META.QUERY_STRING|merge_query_string:"sortby=updated&order=asc"}}">{% trans "Last Updated" %}</a></th>
                {% endifequal %}
                {% if is_moderator %}
                <th>&nbsp;</th>
                {% endif %}
            {% endif %}
        </tr>
        {% ifnotequal packages.count 0 %}
        {% for package in packages %}
        <tr class="{% cycle 'pkgr1' 'pkgr2' %}">
            <td>{{ package.repository }}</td>
            <td><a{% if package.outdated %} class="error"{% endif %} href="{{ package.get_absolute_url }}">{{ package.name }} {{ package.version }}-{{ package.release }}</a></td>
            <td>{{ package.description }}</td>
            <td>{{ package.maintainers.all|join:", " }}</td>
            <td>{{ package.updated|date:"Y-m-d H:i:s" }}</td>
            {% if is_moderator %}
            <td><input type="checkbox" name="packages" value="{{ package.name }}" /></td>
            {% endif %}
        </tr>
        {% endfor %}
        {% else %}
        {% if form.is_bound %}
        <tr>
            <td colspan="6" style="text-align: center"><p>{% trans "There were no results for your query" %}</p></td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6" style="text-align: center"><p>{% trans "There are currently no packages available" %}</p></td>
        </tr>
        {% endif %}
        {% endifnotequal %}
    </table>
    {% if is_moderator %}
    <br />
    <div style="text-align: right">
        With selected packages:
        <select name="action">
            <option value="disown">disown</option>
            <option value="adopt">adopt</option>
            <option value="flag-ood">flag out of date</option>
            <option value="unflag-ood">unflag out of date</option>
            <option value="delete">delete</option>
        </select>
        <input type="submit" value="{% trans "Go" %}" />
    </div>
    {% endif %}
    </form>{% if page.has_pagination %}
    <br />
    {% if page.has_previous %}<span style="float: left"><a href="?page={{ page.previous_page_number }}">&lt;&lt;&lt; {% trans "Previous" %}</a></span>{% endif %}
    {% if page.has_next %}<span style="float: right"><a href="?page={{ page.next_page_number }}">{% trans "Next" %} &gt;&gt;&gt;</a></span>{% endif %}
    {%endif %}
</div>
{% endblock %}
