{% extends "base.html" %}
{% load i18n %}
{% block extra_title %} - {% trans "Submit package" %}{% endblock %}
{% block content %}
{% if errors or warnings %}
<div class="greybox errors">
    <p style="padding:0px;">{% trans "Your package failed to validate. Here's why" %}:</p>
    <ul>
        {% for error in errors %}
        <li class="error">{% trans "Error" %}: {{ error }}</li>
        {% endfor %}
        {% for warning in warnings %}
        <li class="error" style="color:#f57900">{% trans "Warning" %}: {{ warning }}</li>
        {% endfor %}
    </ul>
</div>
<br />
{% endif %}
<div class="greybox" style="max-width: 700px; margin: auto;">
    <h3>Submit Package</h3>
    <p>Please read the <a href=http://wiki.archlinux.org/index.php/Arch_Packaging_Standards#Submitting_Packages_to_the_AUR">guidelines for submitting packages</a> and run namcap on the PKGBUILD and built package before submitting.</p>
    <form action="." method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
        <div style="text-align:center">
            {{ form.category }}
            {{ form.file }}
            <input type="submit" value="{% trans "Upload" %}" />
        </div>
    </form>
    <br />
</div>
{% endblock %}
