{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="greybox">
    <form action="." method="post">
        <table>{% for field in form %}
            <tr>
                <th style="vertical-align: top; text-align: right;">{{ field.label_tag }}: </th>
                <td>{{ field }}</td>
                <td>{{ field.help_text }}</td>
                <td>{{ field.errors }}</td>
            </tr>
            {% endfor %}<tr>
                <td colspan="4" style="text-align:right">
                    <input type="submit" value="{% trans "Upload" %}" />
                    <input type="reset" value="{% trans "Reset" %}" />
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
