{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1-strict.dtd ">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Arch Linux AUR{% block extra_title %}{% endblock %}</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="/media/css/arch.css" />
        <link rel="stylesheet" type="text/css" href="/media/css/aur.css" />
        <link rel="icon" href="/media/favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon" />
        {% block extra_head %}
        {% endblock %}
    </head>
    <body>
        <div id="login-or-register">
        {% if user.is_authenticated %}
            {% trans "Logged in as" %} <a href="{% url aurprofile_profile %}">{{ user.username }}</a>. <a href="{% url auth_logout %}">Logout</a>
        {% else %}
            <a href="{% url auth_login %}">{% trans "Login" %}</a> {% trans "or" %} <a href="{% url registration_register %}">{% trans "register" %}</a>
        {% endif %}
        </div>
        <div id="head_container">
            <div id="title">
                <div id="logo"><h1 id="archtitle"><a href="/" title="Arch Linux (Home)">Arch Linux</a></h1></div>
            </div>
            <div id="main_nav">
                {% block topmenu %}
                <ul>
                    <li><a href="http://www.archlinux.org/download/">{% trans "Get Arch" %}</a></li>
                    <li class="selected"><a href="http://aur.archlinux.org">AUR</a></li>
                    <li><a href="http://bugs.archlinux.org">{% trans "Bugs" %}</a></li>
                    <li><a href="http://wiki.archlinux.org">{% trans "Wiki" %}</a></li>
                    <li><a href="http://bbs.archlinux.org">{% trans "Forums" %}</a></li>
                    <li><a href="http://www.archlinux.org/">{% trans "Home" %}</a></li>
                </ul>
                {% endblock %}
            </div>
            {% block submenu %}
            <div id="dev_nav">
                <ul>
                    <li><a href="http://archlinux.org/mailman/listinfo/aur-general">{% trans "Mailing List" %}</a></li>
                    <li><a href="http://bugs.archlinux.org/index.php?tasks=all&amp;project=2">{% trans "Bugs" %}</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url aur.views.submit %}">{% trans "Submit" %}</a></li>
                    {% endif %}
                    <li><a href="/">{% trans "Packages" %}</a></li>
                </ul>
            </div>
            {% endblock %}
        </div>
        <div id="content">
            {% block search %}
            <div id="search" style="position: static; float: none; text-align: right;">
                <form action="/search/" method="get">
                    <p><input type="hidden" name="repository" value="all" />
                    <input type="hidden" name="searchby" value="name" />
                    <input type="hidden" name="sortby" value="name" />
                    <input type="hidden" name="order" value="asc" />
                    <input type="hidden" name="limit" value="25" />
                    Package Search: <input type="text" maxlength="200" size="20" name="query" /></p>
                </form>
            </div>
            {% endblock %}
            {% block content %}
            {% endblock %}
        <br />
        </div>
        <div class="foot">
            <p>For more information please read the <a href="http://wiki.archlinux.org/index.php/AUR_User_Guidelines">AUR User Guidelines</a>.</p>
            Copyright &copy; 2002-2008 <a href="mailto:jvinet@zeroflux.org" title="contact Judd Vinet">Judd Vinet</a> and <a href="mailto:aaron@archlinux.org" title="contact Aaron Griffin">Aaron Griffin</a>.<br />
            The Arch Linux name and logo are recognized trademarks. Some rights reserved.
        </div>
    </body>
</html>
